<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="../static/assets/css/space-dynamic.css">
    <link rel="stylesheet" href="../static/assets/css/animated.css">
    <link rel="stylesheet" href="../static/assets/css/owl.css">

  </head>

<body>

  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <a href="index.html" class="logo">
              <h4>HR<span>Well</span></h4>
            </a>

            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Anasayfa</a></li>
              <li class="scroll-to-section"><a href="#about">Biz Kimiz</a></li>
              <li class="scroll-to-section"><a href="#services">Servisler</a></li>
              <li class="scroll-to-section"><a href="#blog">Blog</a></li>
              <li class="scroll-to-section"><a href="#contact">Form</a></li>
              <li class="scroll-to-section">
              <form action="/csv" method="get" enctype="multipart/form-data">
                <div class="main-blue-button">
                <button type="submit">Analiz Aracına Git</button>
                </div>
              </form>
              </li>
            </ul>
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <h6>HRWELL'e Hoş Geldiniz</h6>
                <h2>Çalışanlarınızın <em>Performansı</em> &amp; <span>Yıpranma Tahmini</span> Bize Emanet</h2>
                <p>%89-90 oranında doğru tahminimizle çalışanlarınız için buradayız </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="../static/assets/images/banner-right-image.png" alt="team meeting">
              </div>
            </div>
      </div>
    </div>
  </div>

  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="left-image wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <img src="../static/assets/images/about-left-image.png" alt="person graphic">
          </div>
        </div>
        <div class="col-lg-8 align-self-center">
          <div class="services">
            <div class="row">
              <div class="col-lg-6">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                  <div class="icon">
                    <img src="../static/assets/images/service-icon-01.png" alt="reporting">
                  </div>
                  <div class="right-text">
                    <h4>Data Analizi</h4>
                    <p>Dilediğiniz bir CSV dosyasını anlamlı hale getirebilirsiniz. </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
                  <div class="icon">
                    <img src="../static/assets/images/service-icon-02.png" alt="">
                  </div>
                  <div class="right-text">
                    <h4>Çalışan Takibi</h4>
                    <p>Çalışanlarınızın yıpranmasını ve performansını anbean takip edin.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.9s">
                  <div class="icon">
                    <img src="../static/assets/images/service-icon-03.png" alt="">
                  </div>
                  <div class="right-text">
                    <h4>Çalışanlarınızı Unutmayın</h4>
                    <p>Eklediğimiz teknik altyapıyla sonuçlar daima sizinle.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="1.1s">
                  <div class="icon">
                    <img src="../static/assets/images/service-icon-04.png" alt="">
                  </div>
                  <div class="right-text">
                    <h4>Esenliği Önceden Sağlayın</h4>
                    <p>Çalışan yıpranmasına etken olan faktörleri inceleyin ve önlem alın.</p>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <div id="services" class="our-services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
                  <div class="video-container">
          <video id="fullscreen-video" controls>
            <source src="../static/assets/images/AI-created-video-hrwell.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
          <div class="section-heading">
            <h2>Çalışan Yıpranmasında <em>%90</em> Performansta <span>%89</span> Başarılıyız!</h2>
            <p>İnsan kaynaklarında çalışan esenliği yeni bir trend haline geldi. Etkenleri öğrenin, çalışanlarınızı nasıl daha mutlu edebileceğinize bakın, daha verimli işlerle karşılaşın.</p>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="first-bar progress-skill-bar">
                <h4>İş Performans Tahmini</h4>
                <span>89%</span>
                <div class="filled-bar"></div>
                <div class="full-bar"></div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="second-bar progress-skill-bar">
                <h4>Çalışan Yıpranma Tahmini</h4>
                <span>90%</span>
                <div class="filled-bar"></div>
                <div class="full-bar"></div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="blog" class="our-blog section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="section-heading">
            <h2>İnsan Kaynakları <em>Trendleri</em> Yeni Bir Soluk <span>Kazanıyor</span></h2>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="left-image">
            <a href="#"><img src="../static/assets/images/big-blog-thumb.jpg" alt="Workspace Desktop"></a>
            <div class="info">
              <div class="inner-content">
                <ul>
                  <li><i class="fa fa-calendar"></i> 24 Mayıs 2024</li>
                  <li><i class="fa fa-folder"></i> HR</li>
                </ul>
                <a href="#"><h4>Gözler Çalışan Bağlılığı Konseptinde</h4></a>
                <p>Çalışanların bir şirkette ortalama kalma yılı 2 yıla kadar düştü. İstifaların önüne geçmek...</p>
              <form action="/model" method="get" enctype="multipart/form-data">
                <div class="main-blue-button">
                <button type="submit">Hemen Modeli Dene</button>
                </div>
              </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="right-list">
            <ul>
              <li>
                <div class="left-content align-self-center">
                  <span><i class="fa fa-calendar"></i> 18 Mayıs 2024</span>
                  <a href="#"><h4>Ekibimiz Büyüyor</h4></a>
                  <p>Son zamanlarda 4 ekip arkadaşımız daha katıldı. Onları gönülden...</p>
                </div>
                <div class="right-image">
                  <a href="#"><img src="../static/assets/images/blog-thumb-01.jpg" alt=""></a>
                </div>
              </li>
              <li>
                <div class="left-content align-self-center">
                  <span><i class="fa fa-calendar"></i> 05 Haziran 2024</span>
                  <a href="#"><h4>Data Analize Bakış</h4></a>
                  <p>Artık kategorize ve numerik değişkenleri CSV analiz aracımızla hızlı...</p>
                </div>
                <div class="right-image">
                  <a href="#"><img src="../static/assets/images/blog-thumb-01.jpg" alt=""></a>
                </div>
              </li>
              <li>
                <div class="left-content align-self-center">
                  <span><i class="fa fa-calendar"></i> 07 Haziran 2024</span>
                  <a href="#"><h4>Çalışanlarınızı Mutlu Edin</h4></a>
                  <p>Çok yakında yıpranma ve performansa göre yapay zeka öneri sistemimizi tanıt...</p>
                </div>
                <div class="right-image">
                  <a href="#"><img src="../static/assets/images/blog-thumb-01.jpg" alt=""></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contactt" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <div class="section-heading">
            <h2>Gelişmemize Yardım Edin</h2>
            <p>Sizin geridönütlerinizle sistemimizi iyileştiriyoruz. Bize ulaşmak istediğiniz her konuda yanınızdayız.</p>
            <div class="phone-info">
              <h4>Her türlü sorunuz için, Bizi Arayın: <span><i class="fa fa-phone"></i> <a href="#">+90-000-000-0000</a></span></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-6">
                <fieldset>
                  <input type="name" name="name" id="name" placeholder="Ad" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <input type="surname" name="surname" id="surname" placeholder="Soyad" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-posta" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" type="text" class="form-control" id="message" placeholder="Mesajınız" required=""></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-button ">Mesajımı gönder</button>
                </fieldset>
              </div>
            </div>
            <div class="contact-dec">
              <img src="../static/assets/images/contact-decoration.png" alt="">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.25s">
        </div>
      </div>
    </div>
  </footer>
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/js/owl-carousel.js"></script>
  <script src="../static/assets/js/animation.js"></script>
  <script src="../static/assets/js/imagesloaded.js"></script>
  <script src="../static/assets/js/custom.js"></script>

  </div>
</body>
</html>