<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attrition & Performance Rating Predictor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="static/assets/toastr/toastr.min.js"></script>
    <link rel="stylesheet" href="static/assets/toastr/toastr.css">
    <style>
body {
    background-image: url('static/bg.png');
     background-size: cover !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(60, 59, 59);
    max-width: 1000px;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.card.selected {
    background-color: #d3e5ff;
    border: 2px solid #3a8dff;
}

.modal-header {
    background-color: #007bff;
    color: #fff;
}

.modal-header .close {
    color: #fff;
}

.btn-primary {
    background-color: #0a0371;
    border: none;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.form-control {
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    border: none;
    border-bottom: 2px solid #8480f0;
    background-color: transparent
}

.form-control:focus {
    border-color: #8480f0;
    box-shadow: 0 0 0 0.2rem rgba(132, 128, 240, 0.25);
}

.form-group label {
    font-weight: bold;
    font-size: 14px;
}

.modal-footer {
    border-top: none;
}

.card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    max-height: 120px;
    width: 100%;
    margin-bottom: 20px;
}
.card-body p {
    margin-bottom: 10px;
}
.card button {
    margin-top: 20px;
}
h2 {
    color: #007bff;
    margin-bottom: 20px;
    font-size: 18px;
}

#predictionForm .form-group {
    width: 47%;
    margin-right: 3%;
    margin-bottom: 20px;
    display: inline-block;
}

#predictionForm .form-group:nth-child(even) {
    margin-right: 0;
}
.col-md-6:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    </style>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div id="card-container"></div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                    data-whatever="@mdo">Yeni Kullanıcı Ekle
            </button>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Yeni Kullanıcı Ekle</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="addUserForm">
                                <div class="form-group">
                                    <label for="name">Ad:</label>
                                    <input class="form-control" id="name" placeholder="Adını Girin" required>
                                </div>
                                <div class="form-group">
                                    <label for="surname">Soyad:</label>
                                    <input class="form-control" id="surname" placeholder="Soyadını Girin" required>
                                </div>

                                <div class="form-group">
                                    <label for="distanceFromHome">Evden Uzaklığı:</label>
                                    <input type="number" class="form-control" id="distanceFromHome" placeholder="Km cinsinden yazın" required>
                                </div>
                                <div class="form-group">
                                    <label for="department">Departmanı:</label>
                                    <select class="form-control" id="department" required>
                                        <option value="Sales">Satış</option>
                                        <option value="Research & Development">Araştırma Geliştirme</option>
                                        <option value="Human Resources">İnsan Kaynakları</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="education">Eğitim Seviyesi:</label>
                                    <select class="form-control" id="education" required>
                                        <option value="1">Lise</option>
                                        <option value="2">Önlisans</option>
                                        <option value="3">Lisans</option>
                                        <option value="4">Yüksek Lisans</option>
                                        <option value="5">Doktora</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="educationField">Eğitim Alanı:</label>
                                    <select class="form-control" id="educationField" required>
                                        <option value="Life Sciences">Yaşam Bilimleri</option>
                                        <option value="Medical">Tıp</option>
                                        <option value="Marketing">Pazarlama</option>
                                        <option value="Technical Degree">Teknik Derece</option>
                                        <option value="Human Resources">İnsan Kaynakları</option>
                                        <option value="Other">Diğer</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="gender">Cinsiyeti:</label>
                                    <select class="form-control" id="gender" required>
                                        <option value="Female">Kadın</option>
                                        <option value="Male">Erkek</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="jobLevel">Kıdem Seviyesi:</label>
                                    <select class="form-control" id="jobLevel" required>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="JobRole">İş Rolü:</label>
                                    <select class="form-control" id="jobRole" required>
                                        <option value="Sales Executive">Sales Executive</option>
                                        <option value="Research Scientist">Research Scientist</option>
                                        <option value="Laboratory Technician">Laboratory Technician</option>
                                        <option value="Manufacturing Director">Manufacturing Director</option>
                                        <option value="Healthcare Representative">Healthcare Representative</option>
                                        <option value="Manager">Manager</option>
                                        <option value="Sales Representative">Sales Representative</option>
                                        <option value="Research Director">Research Director</option>
                                        <option value="Human Resources">Human Resources</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="maritalStatus">Medeni Hali:</label>
                                    <select class="form-control" id="maritalStatus" required>
                                        <option value="Divorced">Boşanmış</option>
                                        <option value="Married">Evli</option>
                                        <option value="Single">Bekar</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="stockOptionLevel">Hisse Senedi Durumu:</label>
                                    <select class="form-control" id="stockOptionLevel" required>
                                        <option value="0">Yok</option>
                                        <option value="1">Düşük Yüzdeli Var</option>
                                        <option value="2">Orta Yüzdeli Var</option>
                                        <option value="3">Yüksek Yüzdeli Var</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="totalWorkingYears">Toplam Meslek Hayatı Kaç Yıl:</label>
                                    <input type="number" class="form-control" id="totalWorkingYears"
                                           placeholder="Toplam Meslek Hayatı Kaç Yıl" required>
                                </div>
                                <div class="form-group">Geçen Yıl Aldığı Eğitim Sayısı:</label>
                                    <input type="number" class="form-control" id="trainingTimesLastYear"
                                           placeholder="Geçen Yıl Aldığı Eğitim Sayısı" required>
                                </div>
                                <div class="form-group">
                                    <label for="yearsAtCompany">Şirkette Kaç Senedir Çalışıyor:</label>
                                    <input type="number" class="form-control" id="yearsAtCompany"
                                           placeholder="Şirkette Kaç Senedir Çalışıyor" required>
                                </div>
                                <div class="form-group">
                                    <label for="yearsInCurrentRole">Mevcut Roldeki İş Yılı:</label>
                                    <input type="number" class="form-control" id="yearsInCurrentRole"
                                           placeholder="Mevcut Roldeki İş Yılı" required>
                                </div>
                                <div class="form-group">
                                    <label for="yearsSinceLastPromotion">Son Terfiden Bu Yana Geçen Yıl:</label>
                                    <input type="number" class="form-control" id="yearsSinceLastPromotion"
                                           placeholder="Son Terfiden Bu Yana Geçen Yıl" required>
                                </div>
                                <div class="form-group">
                                    <label for="yearsWithCurrManager">Mevcut Yönetici İle Geçen Yıl:</label>
                                    <input type="number" class="form-control" id="yearsWithCurrManager"
                                           placeholder="Mevcut Yönetici İle Geçen Yıl" required>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                            <button type="button" class="btn btn-primary" onclick="giveUserAddAlert()">Kullanıcı Ekle</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Çalışan Bilgilerini Girin</h2>
            <form id="predictionForm">
                 <div class="form-group">
                    <label for="age">Yaş:</label>
                     <input class="form-control" id="age" placeholder="Yaşını Girin" required>
                 </div>
                <div class="form-group">
                    <label for="monthlyIncome">Aylık Geliri:</label>
                    <input type="number" class="form-control" id="monthlyIncome" placeholder="Aylık Geliri Dolar Bazında Girin" required>
                </div>
                <div class="form-group">
                    <label for="businessTravel">İş Seyahati Sıklığı:</label>
                    <select class="form-control" id="businessTravel" required>
                        <option value="Travel_Frequently">Sık Sık</option>
                        <option value="Travel_Rarely">Seyrek</option>
                        <option value="Non-Travel">Yok</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="environmentSatisfaction">Çevre Memnuniyeti:</label>
                    <select class="form-control" id="environmentSatisfaction" required>
                        <option value="1">Düşük</option>
                        <option value="2">Orta</option>
                        <option value="3">Yüksek</option>
                        <option value="4">Çok Yüksek</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="jobInvolvement">İşe Katılımı:</label>
                    <select class="form-control" id="jobInvolvement" required>
                        <option value="1">Düşük</option>
                        <option value="2">Orta</option>
                        <option value="3">Yüksek</option>
                        <option value="4">Çok Yüksek</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="overTime">Mesai Durumu:</label>
                    <select class="form-control" id="overTime" required>
                        <option value="No">Yok</option>
                        <option value="Yes">Var</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="relationshipSatisfaction">İlişki Memnuniyeti:</label>
                    <select class="form-control" id="relationshipSatisfaction" required>
                        <option value="1">Düşük</option>
                        <option value="2">Orta</option>
                        <option value="3">Yüksek</option>
                        <option value="4">Çok Yüksek</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="workLifeBalance">İş-Sosyal Hayat Dengesi:</label>
                    <select class="form-control" id="workLifeBalance" required>
                        <option value="1">Kötü</option>
                        <option value="2">Orta</option>
                        <option value="3">İyi</option>
                        <option value="4">Çok İyi</option>
                    </select>
                </div>
                <button type="button" id="addUserButton" class="btn btn-primary" onclick="giveAlertForPredict()">Sonuç</button>
            </form>
        </div>
    </div>
</div>

<script>
    function predict() {
        var age = parseInt($('#age').val());
        var businessTravel = $('#businessTravel').val();
        var department = JSON.parse(localStorage.getItem('selectedUser')).department;
        var distanceFromHome =JSON.parse(localStorage.getItem('selectedUser')).distanceFromHome;
        var education = JSON.parse(localStorage.getItem('selectedUser')).education;
        var educationField = JSON.parse(localStorage.getItem('selectedUser')).educationField;
        var environmentSatisfaction = parseInt($('#environmentSatisfaction').val());
        var gender = JSON.parse(localStorage.getItem('selectedUser')).gender;
        var jobInvolvement = parseInt($('#jobInvolvement').val());
        var jobLevel = JSON.parse(localStorage.getItem('selectedUser')).jobLevel;
        var jobRole = JSON.parse(localStorage.getItem('selectedUser')).jobRole;
        var maritalStatus = JSON.parse(localStorage.getItem('selectedUser')).maritalStatus;
        var monthlyIncome = parseInt($('#monthlyIncome').val());
        var overTime = $('#overTime').val();
        var relationshipSatisfaction = parseInt($('#relationshipSatisfaction').val());
        var stockOptionLevel = JSON.parse(localStorage.getItem('selectedUser')).stockOptionLevel;
        var totalWorkingYears = JSON.parse(localStorage.getItem('selectedUser')).totalWorkingYears;
        var trainingTimesLastYear = JSON.parse(localStorage.getItem('selectedUser')).trainingTimesLastYear;
        var workLifeBalance = parseInt($('#workLifeBalance').val());
        var yearsAtCompany = JSON.parse(localStorage.getItem('selectedUser')).yearsAtCompany;
        var yearsInCurrentRole = JSON.parse(localStorage.getItem('selectedUser')).yearsInCurrentRole;
        var yearsSinceLastPromotion = JSON.parse(localStorage.getItem('selectedUser')).yearsSinceLastPromotion;
        var yearsWithCurrManager = JSON.parse(localStorage.getItem('selectedUser')).yearsWithCurrManager;

        $.ajax({
            url: "/predict",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({
                'Age': age,
                'BusinessTravel': businessTravel,
                'Department': department,
                'DistanceFromHome': distanceFromHome,
                'Education': education,
                'EducationField': educationField,
                'EnvironmentSatisfaction': environmentSatisfaction,
                'Gender': gender,
                'JobInvolvement': jobInvolvement,
                'JobLevel': jobLevel,
                'JobRole': jobRole,
                'MaritalStatus': maritalStatus,
                'MonthlyIncome': monthlyIncome,
                'OverTime': overTime,
                'RelationshipSatisfaction': relationshipSatisfaction,
                'StockOptionLevel': stockOptionLevel,
                'TotalWorkingYears': totalWorkingYears,
                'TrainingTimesLastYear': trainingTimesLastYear,
                'WorkLifeBalance': workLifeBalance,
                'YearsAtCompany': yearsAtCompany,
                'YearsInCurrentRole': yearsInCurrentRole,
                'YearsSinceLastPromotion': yearsSinceLastPromotion,
                'YearsWithCurrManager': yearsWithCurrManager
            }),
            success: function (response) {
                $('#predictionResult').html('<p><strong>Çalışanın Yıpranma Tahmini:</strong> ' + response.attrition_prediction=='Yes'? Evet : 'Hayır' + '</p>' +
                    '<p><strong>Çalışanın Performans Skoru(0-5):</strong> ' + response.performance_prediction + '</p>');

                const selectedUser = JSON.parse(localStorage.getItem('selectedUser')) || {}
                selectedUser.response = response;
                localStorage.setItem('selectedUser', JSON.stringify(selectedUser))
                const users = JSON.parse(localStorage.getItem('users'));
                users.forEach(user => {
                    if (user.id === selectedUser.id) {
                        user.response = selectedUser.response
                    }
                })
                localStorage.setItem('users', JSON.stringify(users))
                loadUsers();
            },
            error: function (xhr, status, error) {
                alert("Error occurred while predicting: " + error);
            }
        });
    }

    let count = 0;
    document.addEventListener('DOMContentLoaded', function () {
        loadUsers()
    });

    function loadUsers() {
        const cardContainer = document.getElementById('card-container');
        const users = JSON.parse(localStorage.getItem('users')) || [];
        cardContainer.innerHTML = '';
        let selectedUserId = 0;
        users.forEach(user => {
            const card = document.createElement('div');
            card.className = 'card';
            card.id = user.id
            const cardBody = document.createElement('div');
            cardBody.className = 'card-body';
            cardBody.innerHTML = `
                <p><strong>${user.name} ${user.surname}<strong></p>
                <p></p>
            `;
            console.log(user.response)
            if (user.response !== undefined && user.response != null) {
                let attritionResult = user.response.attrition_prediction == 'Yes' ? 'Evet' : 'Hayır';
                let performanceResult= user.response.attrition_prediction == 3 ? 'Düşük' : 'Yüksek';
                console.log(attritionResult, performanceResult)

                cardBody.innerHTML += `
                <p>Çalışanın Yıpranma Durumu: ${attritionResult}</p>
                <p>Çalışan Performansı: ${performanceResult}</p>
            `;
            }
            card.appendChild(cardBody);
            cardContainer.appendChild(card);

            card.addEventListener('click', () => {
                document.querySelectorAll('.card.selected').forEach(selectedCard => {
                    selectedCard.classList.remove('selected');
                });
                card.classList.add('selected');
                selectedUserId = card.id;
                const selectedUser = users.find(user => user.id == selectedUserId)
                localStorage.setItem('selectedUser', JSON.stringify(selectedUser))
            });
        });

    }

    const addUser = () => {
        count++
        const user = {
            id: count,
            name: $('#name').val(),
            surname: $('#surname').val(),
            businessTravel: $('#businessTravel').val(),
            department: $('#department').val(),
            distanceFromHome: parseInt($('#distanceFromHome').val()),
            education: parseInt($('#education').val()),
            educationField: $('#educationField').val(),
            gender: $('#gender').val(),
            jobLevel: parseInt($('#jobLevel').val()),
            jobRole: $('#jobRole').val(),
            maritalStatus: $('#maritalStatus').val(),
            stockOptionLevel: parseInt($('#stockOptionLevel').val()),
            totalWorkingYears: parseInt($('#totalWorkingYears').val()),
            trainingTimesLastYear: parseInt($('#trainingTimesLastYear').val()),
            yearsAtCompany: parseInt($('#yearsAtCompany').val()),
            yearsInCurrentRole: parseInt($('#yearsInCurrentRole').val()),
            yearsSinceLastPromotion: parseInt($('#yearsSinceLastPromotion').val()),
            yearsWithCurrManager: parseInt($('#yearsWithCurrManager').val())
        }

        const users = JSON.parse(localStorage.getItem('users')) || []
        users.push(user)
        localStorage.setItem('users', JSON.stringify(users))
        loadUsers();
        count++;
        resetForm();
        $('#exampleModal').modal('hide');
    }
    function giveUserAddAlert() {
        var requiredFields = [$('#name'), $('#surname'),$('#distanceFromHome'),$('#totalWorkingYears'),$('#totalWorkingYears'),
        $('#trainingTimesLastYear'),$('#trainingTimesLastYear'),$('#yearsAtCompany'),$('#yearsInCurrentRole'),
            $('#yearsSinceLastPromotion'),$('#yearsWithCurrManager')
        ];
        var filled = true;

        for (var i = 0; i < requiredFields.length; i++) {
            if (requiredFields[i].val() === '') {
            filled = false;
            break;
            }
        }

        if (filled) {
            toastr.success('Çalışan Başarıyla Eklendi.', '', { "progressBar": true, "positionClass": "toast-top-center", "timeOut": 3000, "closeButton": true, "showDuration": "300", "hideDuration": "1000"});
            addUser();
        } else {
            toastr.error('Çalışan Eklenemedi. Tüm Alanları Doldurduğunuzdan Emin Olun!', '', { "progressBar": true, "positionClass": "toast-top-center", "timeOut": 3000, "closeButton": true, "showDuration": "300", "hideDuration": "1000"});
        }
    }
    function giveAlertForPredict() {
        var requiredFields = [$('#age'), $('#monthlyIncome')];
        var filled = true;

        for (var i = 0; i < requiredFields.length; i++) {
            if (requiredFields[i].val() === '') {
            filled = false;
            break;
            }
        }

        if (filled) {
            toastr.success('Çalışan Tahmini Eklendi.', '', { "progressBar": true, "positionClass": "toast-top-center", "timeOut": 3000, "closeButton": true, "showDuration": "300", "hideDuration": "1000"});
            predict();
        } else {
            toastr.error('Çalışan Tahmini Eklenemedi. Tüm Alanları Doldurduğunuzdan Emin Olun!', '', { "progressBar": true, "positionClass": "toast-top-center", "timeOut": 3000, "closeButton": true, "showDuration": "300", "hideDuration": "1000"});
        }
    }

    const resetForm = () => {
        $('#addUserForm')[0].reset();
        $('.modal-body').scrollTop(0);
    }
</script>


</body>
</html>